@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-font:  'Roboto', sans-serif;
    --style-homepage: 'Limelight', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    font-size: 25px;
    color: white;
}
.navbar_rect{
    width: 725px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar_rect:hover{
    cursor: pointer;
}
.navbar_rect_text:hover{
    text-decoration: underline;
}
.navbar_box{
    width: 177px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_box_image{
    width: 89px;
    height: 38px;
    object-fit: contain;
}
.navbar_logo{
    width: 725px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar_logo_circle{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 40px;
    margin-right: 15px;
}

.home{
    width: 100vw;
    height: 100vh;
    overflow: hidden
}
.home_bigtext{
    font-size: 70px;
    font-family: var(--style-homepage);
    text-align: center;
    margin-top: 470px;
    color: white;
}
.home_box{
    width: 300px;
    height: 80px;
    background-color: #0D70A8;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 40px;
    margin: 50px auto;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid white;
}
.home_box:hover{
    cursor: pointer;
}
.home_slogan{
    color: white;
    text-align: center;
    font-size: 35px;
}



/*search*/
.search{
    width: 100%;
    min-height: 100vh;
    background-color: #4B4A4A;
 
}
.search_body{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.search_body_filter{
    width: 300px;
    height: 855px;
    background-color: rgb(56, 55, 55);
}
.search_body_filter_title{
    margin: 20px;
    font-size: 25px;
    color: white;
}
.search_body_filter_category{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    color: white;
    border-bottom: 1px solid grey;
}
.search_body_filter_category_header{
    width: 100%;
}
.search_body_filter_category_sport{
    padding: 10px 0 0;

    
    label{
        margin: 0 10px;
    }
}



.search_body_display{
    width: 1620px;
    min-height: 855px;
    background-color: rgb(255, 255, 255);
}
.search_body_display_filterList{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: auto;
}
.search_body_display_filterList_box{
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    padding: 0 50px;
    background-color: rgb(69, 93, 124);
    margin: 0 10px;
    border-radius: 5px;
    
}
.search_body_display_filterList_box:hover{
    cursor: pointer;
}
.search_body_display_wrapper{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.search_body_display_wrapper_item{
    width: 250px;
    height: 320px;
    margin: 60px 0 0 60px;
    text-decoration: none;
    color: black;
}
.search_body_display_wrapper_item_image{
    width: 100%;
    height: 200px;
    position: relative;
}
.search_body_display_wrapper_item_image_product{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search_body_display_wrapper_item_image_corner{
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    display: flex;
}
.search_body_display_wrapper_item_image_corner_pictures{
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    margin: 0 5px 0 0;
}
.search_body_display_wrapper_item_title{
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}
.search_body_display_wrapper_item_type{
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}
.search_body_display_wrapper_item_price{
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #346C33;
    font-weight: bold;
}
.search_body_display_wrapper_item_button{
    width: 100%;
    height: 40px;
    background-color: #198087;
    font-size: 12px;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 40px;
}

/*viewproduct*/
.viewproduct{
    width: 100%;
    min-height: 100%;
}
.viewproduct_display{
    width: 100%;
    min-height: 855px;
    background-color: #F3F3F3;
    display: flex;
}

.viewproduct_display_images{
    width: 65%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.viewproduct_display_images_mini_image{
    width: 80px;
    height: 80px;
    background-color: rgb(199, 197, 197);
    margin-bottom: 10px;
}
.viewproduct_display_images_mini_image:hover{
    cursor: pointer;
}
.viewproduct_display_images_display{
    width: 1050px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 50px;
}
/*2*/
.viewproduct_display_images_display_title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 2px solid black;
}
.viewproduct_display_images_display_reviews{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.viewproduct_display_images_display_reviews_person{
    width: 100%;
    min-height: 100px;
    background-color: #2A6E8B;
    color: white;
    margin: 10px 0 0 0;
}
.viewproduct_display_images_display_reviews_person_wrapper{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.viewproduct_display_images_display_reviews_person_wrapper_profile{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
}
.viewproduct_display_images_display_reviews_person_wrapper_profile_stars{
    margin-left: 10px;
    color: gold;
}
.viewproduct_display_images_display_reviews_person_wrapper_reviewText{
    width: 100%;
    margin: 5px 0 0 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.viewproduct_display_images_display_reviews_person_wrapper_likes{
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}
.viewproduct_display_images_display_reviews_person_wrapper_likes_button{
    border: unset;
    background-color: transparent;
    font-size: 20px;
    color: white;
}
.viewproduct_display_images_display_reviews_person_wrapper_likes_button:hover{
    cursor: pointer;
}
.viewproduct_display_images_display_reviews_person_wrapper_likes_number{
    margin-left: 10px;
}
/*1*/
.viewproduct_display_images_display_video{
    width: 1050px;
    height: 440px;
    position: relative;
    background-color: rgb(145, 133, 133);
}
.viewproduct_display_images_display_video_buttons{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewproduct_display_images_display_video_buttons_play{
    width: 181px;
    height: 181px;
    background-color: transparent;
    border: unset;
}
.viewproduct_display_images_display_video_buttons_play:hover{
    cursor: pointer;
}
.viewproduct_display_images_display_video_buttons_play_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.viewproduct_display_images_display_bigImage{
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 25px 0 0 0;
}

.viewproduct_display_info{
    width: 35%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
}
.viewproduct_display_info_wrapper{
    width: 80%;
    height: 100%;
    margin-left: 50px;
}
.viewproduct_display_info_wrapper_title{
    width: 100%;
    font-size: 35px;
    margin-top: 35px;
}
.viewproduct_display_info_wrapper_type{
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}
.viewproduct_display_info_wrapper_rating{
    margin-top: 5px;
    color: #D2B25F;
    
    span{
        font-size: 12px;
        margin-left: 10px;
        color: black;
    }
}
.viewproduct_display_info_wrapper_rating:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_price{
    font-size: 35px;
    margin-top: 5px;
}
.viewproduct_display_info_wrapper_colors{
    font-size: 18px;
    margin-top: 5px;
}
.viewproduct_display_info_wrapper_colorsProducts{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.viewproduct_display_info_wrapper_colorsProducts_show{
    width: 130px;
    height: 70px;
    border: 1px solid black;
    margin-right: 35px;
    margin-top: 15px;
}
.viewproduct_display_info_wrapper_colorsProducts_show-active{
    border: 1px solid #286EA0;
}
.viewproduct_display_info_wrapper_colorsProducts_show:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_sizes{
    font-size: 18px;
    margin-top: 25px;
}
.viewproduct_display_info_wrapper_sizesMenWomen{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
}
.viewproduct_display_info_wrapper_sizesMenWomen_box{
    height: 30px;
    padding: 0 50px;
    background-color: #4D4C4B;
    color: white;
    line-height: 30px;
    margin-right: 20px;
    border-radius: 2px;
}
.viewproduct_display_info_wrapper_sizesMenWomen_box-active{
    background-color: #286EA0;
}
.viewproduct_display_info_wrapper_sizesMenWomen_box:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_sizesNumber{
    width: 100%;
    min-height: 125px;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.viewproduct_display_info_wrapper_sizesNumber_number{
    width: 50px;
    height: 50px;
    background-color: #4D4C4B;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 2px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.viewproduct_display_info_wrapper_sizesNumber_number-active{
    background-color: #286EA0;
}

.viewproduct_display_info_wrapper_sizesNumber_number:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_button{
    width: 100%;
    height: 70px;
    font-size: 25px;
    font-weight: 800;
    line-height: 70px;
    text-align: center;
    background-color: #3E8D89;
    color: white;
    border: unset;
    border-radius: 5px;
    margin-top: 10px;
}
.viewproduct_display_info_wrapper_button:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_more{
    width: 68px;
    height: 26px;
    margin-top: 55px;
}
.viewproduct_display_info_wrapper_more:hover{
    cursor: pointer;
}
.viewproduct_display_info_wrapper_more_arrow{
    width: 100%;
    height: 100%;
}

/*Checkout*/
.checkout{
    width: 100%;
    min-height: 100%;
}
.checkout_wrapper{
    width: 100%;
    min-height: 855px;
    overflow: auto;
    display: flex;  
}
.checkout_wrapper_info{
    width: 65%;
    min-height: 100%;
    background-color: #F3F3F3;
}
.checkout_wrapper_info_address{
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
}
.checkout_wrapper_info_address_title{
    width: 100%;
    height: 30px;
    border-bottom: 2px solid black;
    font-size: 22px;
    font-weight: 500;
}
.checkout_wrapper_info_address_details{
    width: 95%;
    height: 80px;
    margin: 10px 0;
    display: flex;
}
.checkout_wrapper_info_address_details-displayNone{
    display: none;
}
.checkout_wrapper_info_address_details_select{
    width: 50px;
    height: 100%;
    background-color: rgb(105, 105, 105);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.checkout_wrapper_info_address_details_select_circle{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid white;
}
.checkout_wrapper_info_address_details_select_circle_dot{
    background-color: rgb(67, 160, 87);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.checkout_wrapper_info_address_details_info{
    width: 100%;
    height: 100%;
    line-height: 80px;
    padding-left: 10px;
    background-color: rgb(71, 71, 71);
    color: white;
}
.checkout_wrapper_info_address_details_info_top{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}
.checkout_wrapper_info_address_details_info_top_address{
    width: 500px;
    height: 30px;
    margin: 5px 0;
    display: flex;
    flex-flow: row nowrap;

}
.checkout_wrapper_info_address_details_info_bottom_city{
    width: 200px;
    height: 30px;
    margin: 5px 25px;
    display: flex;
    flex-flow: row nowrap;

}
.checkout_wrapper_info_address_details_info_bottom_state{
    width: 300px;
    height: 30px;
    margin: 5px 25px;
    display: flex;
    flex-flow: row nowrap;

}
.checkout_wrapper_info_address_details_info_bottom_zipcode{
    width: 400px;
    height: 30px;
    margin: 5px 25px;
    display: flex;
    flex-flow: row nowrap;

}
.checkout_wrapper_info_address_details_info_top_address_text,
.checkout_wrapper_info_address_details_info_bottom_city_text,
.checkout_wrapper_info_address_details_info_bottom_state_text,
.checkout_wrapper_info_address_details_info_bottom_zipcode_text
{
    line-height: 30px;
    margin-right: 5px;
}
.checkout_wrapper_info_address_details_info_top_address_input,
.checkout_wrapper_info_address_details_info_bottom_citys_input,
.checkout_wrapper_info_address_details_info_bottom_state_input,
.checkout_wrapper_info_address_details_info_bottom_zipcode_input{
    width: 300px;
    padding-left: 5px;
    color: black;
}
.checkout_wrapper_info_address_details_info_bottom{
    width: 100%;
    height: 40px;
    display: flex;
}

.checkout_wrapper_info_address_addNewAddress{
    width: 95%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.checkout_wrapper_info_address_addNewAddress_button{
    padding: 0 25px;
    height: 30px;
    border: unset;
    background-color: #DB8A8A;
    border-radius: 5px;
}
.checkout_wrapper_info_address_addNewAddress_button-displayNone{
    display: none;
}
.checkout_wrapper_info_address_addNewAddress_button:hover{
    cursor: pointer;
}

/*payment*/
.checkout_wrapper_info_payment{
    width: 95%;
    min-height: 200px;
    margin: 0 auto;
 
}
.checkout_wrapper_info_payment_title{
    width: 100%;
    height: 30px;
    border-bottom: 2px solid black;
    font-size: 22px;
    font-weight: 500;
}
.checkout_wrapper_info_payment_card{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
}
.checkout_wrapper_info_payment_card-displayNone{
    display: none;
}
.checkout_wrapper_info_payment_card_title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.checkout_wrapper_info_payment_card_title-input{
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px;
}
.checkout_wrapper_info_payment_card_details{
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
}
.checkout_wrapper_info_payment_card_details_select{
    width: 50px;
    height: 100%;
    background-color: #CDB767;
}
.checkout_wrapper_info_payment_card_details_numbers{
    width: 100%;
    height: 100%;
    background-color: #5E9D8A;
    display: flex;
    flex-flow: row nowrap;
}
.checkout_wrapper_info_payment_card_details_numbers_accountNumber{
    width: 70%;
    height: 100%;
}
.checkout_wrapper_info_payment_card_details_numbers_accountNumber_title,
.checkout_wrapper_info_payment_card_details_numbers_expDate_title{
    width: 100%;
    padding-left: 20px;
    color: white;
    margin-top: 10px;

}

.checkout_wrapper_info_payment_card_details_numbers_accountNumber_box,
.checkout_wrapper_info_payment_card_details_numbers_expDate_box{
    width: 50%;
    height: 30px;
    margin-left: 20px;
    line-height: 30px;
    text-decoration: underline;
}
.checkout_wrapper_info_payment_card_details_numbers_expDate{
    width: 30%;
    height: 100%;
}

.checkout_wrapper_info_payment_buttons{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.checkout_wrapper_info_payment_buttons_addBtn{
    padding: 0 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}
.checkout_wrapper_info_payment_buttons_addBtn:hover{
    cursor: pointer;
}
.checkout_wrapper_info_payment_buttons_saveBtn{
    padding: 0 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}
.checkout_wrapper_info_payment_buttons_saveBtn:hover{
    cursor: pointer;
}
.checkout_wrapper_info_payment_buttons-displayNone{
    display: none;
}

/*products*/

.checkout_wrapper_info_products{
    width: 95%;
    min-height: 500px;
    margin: 0 auto;
}
.checkout_wrapper_info_products_bundle_title{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
}
.checkout_wrapper_info_products_bundle{
    width: 95%;
    height: 250px;
    background-color: #9F4972;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.checkout_wrapper_info_products_bundle_picture{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 25px;
    border-radius: 5px;
}
.checkout_wrapper_info_products_bundle_details{
    height: 200px;
    color: white;
}
.checkout_wrapper_info_products_bundle_details_title{
    font-size: 35px;
}
.checkout_wrapper_info_products_bundle_details_type{
    font-size: 16px;
    margin: 5px 0;
}
.checkout_wrapper_info_products_bundle_details_price{
    font-size: 22px;
    margin: 10px 0;
    color: rgb(101, 190, 101);
}
.checkout_wrapper_info_products_bundle_details_colors{
    font-size: 16px;
    margin: 5px 0;
}
.checkout_wrapper_info_products_bundle_details_amount{
    font-size: 22px;
    margin: 15px 0;
}
.checkout_wrapper_info_products_bundle_details_amount_number{
    background-color: rgb(34, 34, 34);
    padding: 0 10px;
    border-radius: 2px;
}

.checkout_wrapper_details{
    width: 35%;
    min-height: 100%;
    background-color: #F9F9F9;
}
.checkout_wrapper_details_summary{
    width: 85%;
    margin: 40px auto;
}
.checkout_wrapper_details_summary_title{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid black;
    font-size: 25px;
}
.checkout_wrapper_details_summary_product{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    margin-bottom: 50px;
}
.checkout_wrapper_details_summary_additional{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
}
.checkout_wrapper_details_summary_title_text,
.checkout_wrapper_details_summary_product_text,
.checkout_wrapper_details_summary_additional_text{
    width: 80%;
    height: 50px;
    line-height: 50px;
}
.checkout_wrapper_details_summary_title_price,
.checkout_wrapper_details_summary_product_price,
.checkout_wrapper_details_summary_additional_price{
    width: 20%;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.checkout_wrapper_details_summary_total{
    border-top: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
    font-size: 35px;
}
.checkout_wrapper_details_summary_total_text{
    width: 50%;
    height: 50px;
    line-height: 50px;

}
.checkout_wrapper_details_summary_total_price{
    width: 50%;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.checkout_wrapper_details_summary_placeOrder{
    width: 100%;
    height: 70px;
    background-color: #3C3C3C;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}
.checkout_wrapper_details_summary_placeOrder:hover{
    cursor: pointer;
}
.checkout_wrapper_details_summary_placeOrder_price{
    line-height: 70px;
    font-size: 35px;
    color: #71B46B;
    font-weight: 500;
}
.checkout_wrapper_details_summary_placeOrder_text{
    line-height: 70px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}


/*cart*/
.cart{
    width: 100%;
    min-height: 100%;

}
.cart_wrapper{
    width: 100%;
    min-height: 855px;
    overflow: auto;
    display: flex;  
}
.cart_wrapper_products{
    width: 65%;
    min-height: 100%;
    background-color: #F3F3F3;
}
.cart_wrapper_products_title{
    width: 95%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 0 auto;
    line-height:60px;
    font-size: 25px;
}
.cart_wrapper_products_card{
    width: 95%;
    margin: 15px auto 0;
    min-height: 250px;
    background-color: #9F4972;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart_wrapper_products_card_image{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin-left: 20px;
}
.cart_wrapper_products_card_details{
    height: 200px;
    padding: 0 5px;
    margin-left: 5px;
    color: white;
}
.cart_wrapper_products_card_details_name{
    font-size: 35px;
}
.cart_wrapper_products_card_details_type{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.cart_wrapper_products_card_details_price{
    font-size: 25px;
    margin-top: 15px;
}
.cart_wrapper_products_card_details_colors{
    font-size: 15px;
}
.cart_wrapper_products_card_details_amount{
    font-size: 15px;
    margin-top: 10px;
}
.cart_wrapper_products_card_details_amount_number{
    padding: 0 5px;
    background-color: black;
}

.cart_wrapper_price{
    width: 35%;
    min-height: 100%;
    background-color: #F9F9F9;
}
.cart_wrapper_price_title{
    width: 85%;
    margin: 0 auto;
    height: 50px;
    line-height: 60px;
    border-bottom: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between ;
    font-size: 25px;
}

.cart_wrapper_price_product{
    width: 85%;
    margin: 15px auto 0;
    display: flex;
    flex-flow: row nowrap;
}
.cart_wrapper_price_product_name{
    width: 80%;
}
.cart_wrapper_price_product_price{
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.cart_wrapper_price_btnCheckout{
    width: 85%;
    height: 70px;
    margin: 250px auto 0;
    border-radius: 5px;
    background-color: #3C3C3C;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.cart_wrapper_price_btnCheckout:hover{
    cursor: pointer;
}

